<speed-dial
  icon="menu"
  icon-hover="download"
  [tooltip]="'view.downloadTooltip' | translate"
  [open-on-hover]="true"
  (main-click)="download()"
>
  <button
    mat-mini-fab
    [matTooltip]="'view.shareTooltip' | translate"
    (click)="share()"
  >
    <mat-icon fontSet="material-icons-outlined"> share </mat-icon>
  </button>
  <button
    mat-mini-fab
    [matTooltip]="'view.customizeTooltip' | translate"
    (click)="customize()"
  >
    <mat-icon fontSet="material-icons-outlined"> tune </mat-icon>
  </button>
  <button
    *ngIf="canManage"
    mat-mini-fab
    [matTooltip]="'view.editTooltip' | translate"
    (click)="editImage()"
  >
    <mat-icon fontSet="material-icons-outlined"> edit </mat-icon>
  </button>
  <button
    *ngIf="canManage"
    mat-mini-fab
    [matTooltip]="'view.deleteTooltip' | translate"
    (click)="deleteImage()"
  >
    <mat-icon fontSet="material-icons-outlined"> delete </mat-icon>
  </button>
</speed-dial>
