<mat-form-field
  [appearance]="appearance"
  [color]="color"
  [subscriptSizing]="subscriptSizing"
>
  <mat-label>{{ label | translate }}</mat-label>
  <input
    matInput
    [value]="value | translate"
    readonly="readonly"
    [type]="hidden ? 'password' : 'text'"
  />
  <button
    *ngIf="showHideButton"
    mat-icon-button
    matSuffix
    [attr.aria-label]="'common.hide' | translate"
    (click)="toggleHide()"
  >
    <mat-icon>{{ hidden ? 'visibility_off' : 'visibility' }}</mat-icon>
  </button>
  <button
    mat-icon-button
    matSuffix
    [attr.aria-label]="'common.copy' | translate"
    (click)="copy()"
  >
    <mat-icon>content_copy</mat-icon>
  </button>
</mat-form-field>
