<ng-container *ngIf="editing">
  <h1>
    {{ 'settings.users.editTitle' | translate: { name: model.usernameValue } }}
  </h1>
</ng-container>
<ng-container *ngIf="adding">
  <h1>{{ 'settings.users.addTitle' | translate }}</h1>
</ng-container>

<form (ngSubmit)="updateUser()">
  <div class="row" *ngIf="adding">
    <div class="col-lg-6 col-12">
      <mat-form-field appearance="outline">
        <mat-label>{{ 'auth.username' | translate }}</mat-label>
        <input
          matInput
          type="text"
          [formControl]="model.username"
          name="username"
          autocorrect="off"
          autocapitalize="none"
          required
        />
        <mat-error *ngIf="model.username.errors">
          {{ model.usernameError | translate }}
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-12">
      <mat-form-field appearance="outline">
        <mat-label>
          {{
            (editing ? 'settings.users.newPassword' : 'auth.password')
              | translate
          }}
        </mat-label>
        <input
          matInput
          type="password"
          [formControl]="model.password"
          name="password"
          [required]="adding"
        />
        <mat-error *ngIf="model.password.errors">
          {{ model.passwordError | translate }}
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="row" *ngIf="!isLockedPerms()">
    <div class="col-lg-6 col-12">
      <values-picker
        [name]="'settings.users.role' | translate"
        [name-multiple]="'settings.users.rolesMultiple' | translate"
        [control]="model.roles"
        [disabled-list]="soulBoundRoles"
        [selection-list]="allRoles"
      ></values-picker>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h3>{{ 'settings.users.effectivePermissions' | translate }}</h3>
    </div>
    <div class="col-12">
      <mat-chip-listbox
        [attr.aria-label]="'settings.users.effectivePermissions' | translate"
      >
        <mat-chip
          *ngFor="let permission of getEffectivePermissions()"
          [disableRipple]="true"
        >
          {{ permission | translate }}
        </mat-chip>
      </mat-chip-listbox>
    </div>
  </div>

  <div class="row">
    <div class="col-12 py-4">
      <button mat-raised-button type="submit" color="primary">
        {{
          (editing ? 'settings.users.update' : 'settings.users.add') | translate
        }}
      </button>

      <button
        mat-raised-button
        class="ms-2"
        color="accent"
        type="button"
        (click)="cancel()"
      >
        {{ 'common.actions.cancel' | translate }}
      </button>
    </div>
  </div>
</form>
