<div *ngIf="available > 0">
  <h1>{{ 'settings.shareX.title' | translate }}</h1>

  <p>
    {{ 'settings.shareX.description' | translate }}
  </p>

  <div class="row">
    <mat-form-field class="col-12 col-md-6 col-xl-4" appearance="outline">
      <mat-label>{{ 'settings.shareX.apiKey' | translate }}</mat-label>
      <mat-select
        msInfiniteScroll
        (selectionChange)="onSelectionChange($event)"
        (infiniteScroll)="getNextBatch()"
        [complete]="loaded === available"
      >
        <mat-option *ngFor="let key of apikeys$ | async" [value]="key.key">{{
          key.name
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="col-12 col-md-3 col-xl-2" appearance="outline">
      <mat-label>{{ 'settings.shareX.imageFormat' | translate }}</mat-label>
      <mat-select [(value)]="selectedFormat">
        <mat-option *ngFor="let format of formatOptions" [value]="format.key">
          {{ format.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="row">
    <div class="col">
      <button
        color="primary"
        mat-raised-button
        [disabled]="key === null"
        (click)="onExport()"
      >
        {{ 'settings.shareX.exportConfig' | translate }}
      </button>
    </div>
  </div>
</div>

<div *ngIf="available === 0">
  <h1>{{ 'settings.shareX.emptyTitle' | translate }}</h1>
  <p>{{ 'settings.shareX.emptyDescription' | translate }}</p>

  <button color="primary" mat-raised-button routerLink="/settings/apikeys">
    {{ 'settings.shareX.createApiKey' | translate }}
  </button>
</div>

<div *ngIf="available < 0">
  <h1>{{ 'common.loading' | translate }}</h1>
  <mat-spinner></mat-spinner>
</div>
