<div class="dialog-text">
  <div class="row">
    <div class="col-12">
      <h1>{{ 'view.customize.title' | translate }}</h1>
    </div>
    <div class="col-xl-4 col-12">
      <mat-form-field subscriptSizing="dynamic">
        <mat-label>{{ 'view.customize.format' | translate }}</mat-label>
        <mat-select [(value)]="selectedFormat">
          <mat-option *ngFor="let format of formatOptions" [value]="format.key">
            {{ format.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-xl-2 col-md-3 col-sm-6 col-12">
      <mat-form-field [matTooltip]="sizeTooltip" subscriptSizing="dynamic">
        <mat-label>{{ 'view.customize.height' | translate }}</mat-label>
        <input
          matInput
          type="number"
          min="0"
          max="32768"
          [(ngModel)]="height"
        />
      </mat-form-field>
    </div>

    <div class="col-xl-2 col-md-3 col-sm-6 col-12">
      <mat-form-field
        subscriptSizing="dynamic"
        appearance="outline"
        [matTooltip]="sizeTooltip"
      >
        <mat-label>{{ 'view.customize.width' | translate }}</mat-label>
        <input matInput type="number" min="0" max="32768" [(ngModel)]="width" />
      </mat-form-field>
    </div>

    <div class="col-xl-2 col-md-3 col-sm-6 col-12">
      <mat-form-field subscriptSizing="dynamic">
        <mat-label>{{ 'view.customize.rotation' | translate }}</mat-label>
        <mat-select [(value)]="rotate">
          <mat-option *ngFor="let option of rotationOptions" [value]="option">
            {{ option }}°
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-xl-2 col-md-3 col-sm-6 col-12">
      <mat-form-field subscriptSizing="dynamic">
        <mat-label>{{ 'view.customize.quality' | translate }}</mat-label>
        <input matInput type="number" min="0" max="100" [(ngModel)]="quality" />
      </mat-form-field>
    </div>

    <div class="col-xl-4 col-sm-6 col-12">
      <mat-slide-toggle [(ngModel)]="flipx">
        {{ 'view.customize.flipHorizontal' | translate }}
      </mat-slide-toggle>
    </div>

    <div class="col-xl-4 col-sm-6 col-12">
      <mat-slide-toggle [(ngModel)]="flipy">
        {{ 'view.customize.flipVertical' | translate }}
      </mat-slide-toggle>
    </div>

    <div class="col-xl-4 col-sm-6 col-12">
      <mat-slide-toggle [(ngModel)]="shrinkonly">
        {{ 'view.customize.shrinkOnly' | translate }}
      </mat-slide-toggle>
    </div>

    <div class="col-xl-4 col-sm-6 col-12">
      <mat-slide-toggle [(ngModel)]="greyscale">
        {{ 'view.customize.greyscale' | translate }}
      </mat-slide-toggle>
    </div>

    <div class="col-xl-4 col-sm-6 col-12">
      <mat-slide-toggle [(ngModel)]="noalpha">
        {{ 'view.customize.disableTransparency' | translate }}
      </mat-slide-toggle>
    </div>

    <div class="col-xl-4 col-sm-6 col-12">
      <mat-slide-toggle [(ngModel)]="negative">
        {{ 'view.customize.negative' | translate }}
      </mat-slide-toggle>
    </div>

    <div class="col-12">
      <copy-field
        subscriptSizing="dynamic"
        label="view.customize.customUrl"
        [value]="getURL()"
      ></copy-field>
    </div>
  </div>
  <div class="dialog-buttons">
    <button mat-flat-button (click)="close()">
      {{ 'common.actions.close' | translate }}
    </button>
  </div>
</div>
