<h1>{{ 'settings.users.title' | translate }}</h1>

<mat-table [dataSource]="dataSubject" class="mat-elevation-z2">
  <ng-container matColumnDef="username">
    <mat-header-cell *matHeaderCellDef>
      {{ 'settings.users.username' | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let user">{{ user.username }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="roles">
    <mat-header-cell class="d-none d-md-flex" *matHeaderCellDef>{{
      'settings.users.roles' | translate
    }}</mat-header-cell>
    <mat-cell class="d-none d-md-flex" *matCellDef="let user">
      <mat-chip-listbox [attr.aria-label]="'settings.users.roles' | translate">
        <mat-chip
          [disableRipple]="true"
          [disabled]="true"
          *ngIf="isSystem(user)"
        >
          {{ 'settings.users.system' | translate }}
        </mat-chip>
        <mat-chip
          [disableRipple]="true"
          *ngFor="let role of user.roles.slice(0, rolesTruncate)"
        >
          {{ role }}
        </mat-chip>
        <mat-chip
          [disableRipple]="true"
          *ngIf="user.roles.length > rolesTruncate"
        >
          +{{ user.roles.length - rolesTruncate }}
        </mat-chip>
      </mat-chip-listbox>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef>
      {{ 'settings.users.actions' | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let user">
      <button mat-icon-button (click)="editUser(user)">
        <mat-icon
          fontSet="material-icons-outlined"
          [attr.aria-label]="'common.actions.edit' | translate"
        >
          edit
        </mat-icon>
      </button>
      <button
        *ngIf="!isSystem(user)"
        mat-icon-button
        (click)="deleteUser(user)"
      >
        <mat-icon
          fontSet="material-icons-outlined"
          class="icon-red"
          [attr.aria-label]="'common.actions.delete' | translate"
        >
          delete
        </mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"> </mat-row>
</mat-table>

<mat-paginator
  class="mat-elevation-z2"
  [pageSizeOptions]="pageSizeOptions"
  [pageSize]="startingPageSize"
  [showFirstLastButtons]="bootstrapService.isNotMobile() | async"
  [hidePageSize]="bootstrapService.isMobile() | async"
  [length]="totalUsers"
  [attr.aria-label]="'settings.users.selectPage' | translate"
  (page)="updateSubject.next($event)"
>
</mat-paginator>

<fab
  [attr.aria-label]="'settings.users.add' | translate"
  (click)="addUser()"
  icon="person_add"
  [tooltip]="'settings.users.createTooltip' | translate"
></fab>
