<div class="content-border padded">
  <div class="container centered">
    <form class="row" (ngSubmit)="onSubmit()">
      <div class="col-12 py-2">
        <img
          src="/assets/branding/text/picsur_light.svg"
          [alt]="'app.logoTextAlt' | translate"
        />
      </div>

      <div class="col-12 py-2">
        <h1>{{ 'auth.registerTitle' | translate }}</h1>
      </div>

      <div class="col-12 py-2">
        <mat-form-field appearance="outline">
          <mat-label>{{ 'auth.username' | translate }}</mat-label>
          <input
            matInput
            type="text"
            [formControl]="model.username"
            name="username"
            autocorrect="off"
            autocapitalize="none"
            required
          />
          <mat-error *ngIf="model.username.errors">
            {{ model.usernameError | translate }}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-12 py-2">
        <mat-form-field appearance="outline">
          <mat-label>{{ 'auth.password' | translate }}</mat-label>
          <input
            matInput
            type="password"
            [formControl]="model.password"
            name="password"
            required
          />
          <mat-error *ngIf="model.password.errors">
            {{ model.passwordError | translate }}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-12 py-2">
        <mat-form-field appearance="outline">
          <mat-label>{{ 'auth.confirmPassword' | translate }}</mat-label>
          <input
            matInput
            type="password"
            [formControl]="model.passwordConfirm"
            name="confirmpassword"
            required
          />
          <mat-error *ngIf="model.passwordConfirm.errors">
            {{ model.passwordConfirmError | translate }}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-12 py-2">
        <button
          *ngIf="showLogin"
          mat-flat-button
          color="accent"
          class="mx-2"
          (click)="onLogin()"
          type="button"
        >
          {{ 'common.actions.login' | translate }}
        </button>
        <button
          mat-flat-button
          color="primary"
          class="mx-2"
          type="submit"
          [disabled]="loading"
        >
          {{
            (loading ? 'common.loading' : 'common.actions.register') | translate
          }}
        </button>
      </div>
    </form>
  </div>
</div>
